
.record_box{
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  background: rgba(211, 3 , 246, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.record_box img{
  width: 80%;
}

.mic{
  display: none;
}


.pulsation{
  -webkit-animation-name: mic_pulsation;
  -webkit-animation-duration: 2s;
  animation-name: mic_pulsation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes mic_pulsation {
    0%{transform: scale(1);}
    25%{transform: scale(1.1);}
    50%{transform: scale(1)}
    75%{transform: scale(0.9)}
    100%{transform: scale(1)}
}

@keyframes mic_pulsation{
  0%{transform: scale(1);}
  25%{transform: scale(1.1);}
  50%{transform: scale(1)}
  75%{transform: scale(0.9)}
  100%{transform: scale(1)}
}