.container{
  position: absolute;
  left: 0;
  top: 00px;
  width: 100vw;
  height: 50px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  color: white;
}
