.btn{
  position: relative;
  border-radius: 50%;
  border: 0;
  height: 270px;
  width: 270px;
  background: rgba(211, 3 , 246, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  outline: none;
}



.btn_start img{
  width: 40%;
}

.btn:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.815);
}

.btn:hover::before{
  transform: scale(1.1);
  cursor: pointer;
  right: -100px;
  top: -100px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.815);
}

.btn:hover::after{
  transform: scale(1.1);
  cursor: pointer;
  left: -100px;
  bottom: -100px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.815);
}

.btn::before{
  position: absolute;
  right: -70px;
  top: -70px;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0;
  background: rgba(211, 3 , 246, 0.63);
  transition: .3s;
  pointer-events: none;
}

.btn::after{
  position: absolute;
  left: -70px;
  bottom: -70px;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0;
  background: rgba(211, 3 , 246, 0.63);
  transition: .3s;
  pointer-events: none;
}

@media (max-width: 768px){
  .btn{
    width: 200px;
    height: 200px;
  }

  .btn::before{
    display: none;
  }

  .btn::after{
    display: none;
  }
}