
.btn{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  background: rgba(211, 3 , 246, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.btn:hover{
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.815);
}

.btn img{
  width: 60%;
}

@media (max-width: 768px){

  .btn{
    margin-bottom: 40px;
  }

}

