.info_box{
  width: fit-content;
  width: 100vw;
  min-height: fit-content;
  max-height: fit-content;
  height: fit-content;
  overflow-y: scroll;
  background: rgba(0,0,0, 0.3);
  /* border-radius: 20px; */
  border: 0;
  box-shadow: 0 10px 50px black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px;
}

.info_box h2{
  margin-bottom: 20px;
}

.play_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  border: 1px solid #fff;
  background: #441056;
  color: white;
  outline: none;
}