.return_btn{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  background: transparent;
  border: 0;
  transition: .3s;
  opacity: .7;
  cursor: pointer;
  outline: none;
}

.return_btn:hover{
  transform: scale(1.1);
  opacity: .9;
}
