.selector_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

@media (max-width: 768px){

  .selector_box{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

}