
.result_list{
    height: fit-content;
    width: 100vw;
    overflow-y: scroll;
    background: rgba(0,0,0, 0.3);
    border: 0;
    box-shadow: 0 0 20px black;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
}

.input_box{
    width: 95vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_box input[type="text"]{
    background: rgba(0,0,0, 0.3);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    padding: 10px 5%;
    color: #fff;
    font-size: 18px;
    outline: none;
}

.input_box button{
    border-radius: 50%;
    border: 1px solid #fff;
    background: rgba(0,0,0, 0.3);
    color: #fff;
    margin-top: 40px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.input_box button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}